.modal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal {
  background: white;
  padding: 20px;
  width: 55%;
  height: 75%;
  border-radius: 0.25rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-content {
  display: grid;
  gap: 10px;
}

.modal-section {
  border-bottom: 1px solid #ebf0f5;
  padding: 10px;
}

.modal-column {
  gap: 10px;
}

/* input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* ordered list */
.custom-counter {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.custom-counter li {
  counter-increment: step-counter;
}

.custom-counter li::before {
  content: counter(step-counter);
  background-color: #142683;
  color: white;
  font-weight: bold;
  padding: 3.15px 10px;
  border-radius: 50%;
}

/* button */
.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #142683;
  padding: 12px 19px 12px 18px;
  text-decoration: none;
}

.saveBtn {
  display: flex;
  align-items: center;
  border: 2px solid #142683;
  margin-left: 5rem;
}

.saveBtn:hover {
  background: white;
  text-decoration: none;
  color: black;
}

.cancelBtn {
  color: black;
  background-color: white;
  border: 2px solid #142683;
}

/* modal number list */
.modal_numberList {
  background: #142683;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: "bold";
  margin: 0 1.25rem 0 0;
}

/* modal input div */

.modal_input_div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* modal button div */

.modal_button_div {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

/* modal_heading */
.modal_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_column .first {
  display: flex;
  margin: 1.5rem;
  align-items: "center";
}
